body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.admin-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    height: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #45a049;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.user-list, .user-profile {
    width: 48%;
    padding: 10px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.user-list {
    margin-right: 10px;
}

.user-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.user-item:hover {
    background-color: #e0e0e0;
}

#userProfile {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#userProfile h3 {
    margin-bottom: 10px;
    color: #333333;
}

#userProfile p {
    margin: 5px 0;
    color: #666666;
}

#userProfile div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.75rem;
    margin-bottom: 10px;
}

#userProfile div h4, #userProfile div h5 {
    color: #333333;
    margin-top: 0;
}

#userProfile div h5 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.subscription p {
    margin: 10px 0;
}

.subscription ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subscription li {
    margin-bottom: 5px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #45a049;
}

#prevPage, #nextPage {
    width: auto;
}

#currentPageText {
    margin: 0 10px;
    color: #333333;
    font-weight: bold;
}
